/**
 * Special media object for teams list
 *
 */
.team {

  &-list {
    margin: -$box-title--margin-bottom 0 0;
    padding: 0;
    background: $box-bg;

    @media (max-width: $screen-xs-max) {
      padding: $box-gutter / 2 0;
    }

    &-item {
      list-style: none;
      text-transform: uppercase;
      color: $text-color;
      height: $box-list-item--height + ($box-list-item--padding * 2);
      line-height: $box-list-item--height + ($box-list-item--padding * 2);
      padding: $box-list-item--padding 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: $text-color;
        background: darken($box-bg, 0.7%);
      }

      > .pull-left {
        margin-right: $box-gutter / 2;
      }

      > img {
        border: 1px solid #ccc;
        border-radius: $box-list-item--height;
        width: $box-list-item--height;

        @media (max-width: $grid-float-breakpoint) {
          margin-left: $box-list-item--padding;
        }
      }
    }
  }
}