{% import 'layouts/macros.njk' as macros %}

<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Football Ticket Trade</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/"><!-- for github deploy only -->
    {# Place favicon.ico and apple-touch-icon.png in the root directory #}
    <!-- build:css styles/vendor.css-->
    <!-- endbuild-->
    <!-- build:css styles/app.css-->
    <!-- bower:css-->
    <!-- endbower-->
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild-->
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block body %}
    {% endblock %}
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
    <script>(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-XXXXX-X');ga('send','pageview');</script>
    <!-- Facebook js sdk-->
    <script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)) return;js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=1394403754167366";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));</script>
    <!-- Twitter js-->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <!-- build:js scripts/vendor.js-->
    <!-- bower:js-->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/readmore/readmore.min.js"></script>
    <script src="/bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script src="/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/bower_components/FitText.js/jquery.fittext.js"></script>
    <!-- endbower-->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <!-- endbuild-->
    <!-- build:js scripts/app.js-->
    <script src="scripts/app.js"></script>
    <!-- endbuild-->
  </body>
</html>
