{% extends 'layouts/default.njk' %}

{% block body_class %}page--content{% endblock %}

{% block content %}
  <div class="row page-static">
    <!-- Homepage main column-->
    <div class="col-md-9 col-md-push-3">
      <div class="row">
        <div class="col-xs-12">
          <!-- Main box: Content-->
          <div class="box box-content">
            <h3 class="text-primary">Page title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto incidunt enim alias nemo sunt voluptates totam corrupti fuga vel eum, nihil assumenda quisquam facilis et numquam eligendi eos qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto incidunt enim alias nemo sunt voluptates totam corrupti fuga vel eum, nihil assumenda quisquam facilis et numquam eligendi eos qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto incidunt enim alias nemo sunt voluptates totam corrupti fuga vel eum, nihil assumenda quisquam facilis et numquam eligendi eos qui.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto incidunt enim alias nemo sunt voluptates totam corrupti fuga vel eum, nihil assumenda quisquam facilis et numquam eligendi eos qui.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Static content page sidebar-->
    <div class="col-md-3 col-md-pull-9 sidebar">
      <div class="row">
        <!-- Some space-->
        <div class="breath-md-top hidden-md hidden-lg"></div>
        <div class="col-xs-12 col-sm-6 col-md-12 hidden-xs">{{ macros.box_whyBookWithUs(false, false, true) }}</div>
        <div class="col-xs-12 col-sm-6 col-md-12">
          <!-- Sidebar box: English Premiership-->{{ macros.box_sidebarListLinks('English Premiership', 'Clubs', 'club.html', ['Manchester City', 'Chelsea', 'Liverpool', 'Manchester United']) }}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-12">
          <!-- Sidebar box: Italian Serie A-->{{ macros.box_sidebarListLinks('Italian Seria A', 'Clubs', 'club.html', ['Juventus', 'Inter Milan', 'AC Milan', 'AS Roma']) }}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-12">
          <!-- Sidebar box: Other leagues-->{{ macros.box_sidebarListLinks('Other leagues', 'Leagues', 'league.html', ['Spanish primera division', 'Italian Serie A', 'German Bundesliga', 'French Ligue 1']) }}
        </div>
      </div>
    </div>
  </div>
  <!-- Social row blocks-->
  <div class="row hidden-xs hidden-sm">
    <div class="col-sm-6">{{ macros.box_socialFacebook() }}</div>
    <div class="col-sm-6">{{ macros.box_socialTwitter() }}</div>
  </div>
  {{ macros.block_introduction() }}
{% endblock %}

{% block footer_above %}
  {{ macros.newsletter() }}
{% endblock %}
