{% extends 'layouts/default.njk' %}

{% block body_class %}page--home{% endblock %}

{% block header_bottom %}
  {% include 'layouts/partials/banner.njk' %}
{% endblock %}

{% block content %}
  <div class="row">
    <!-- section: homepage_main_column-->
    <div class="col-md-9">
      <div class="row">
        <div class="col-sm-12">
          <!-- section_part: most_popular_tickets-->
          <div class="box">
            <h2 class="text-primary">Most popular football tickets</h2>
            <ol class="event-list">
              {{ macros.eventItem('Mar', 9, 2015, 'FA Cup', 'Manchester United v Arsenal Tickets', '7.30 PM - Old Trafford - Manchester, United Kingdom', 'match.html') }}
              {{ macros.eventItem('Mar', 14, 2015, 'FA Cup', 'Arsenal v West Ham United Tickets', '7.30 PM - Emirates Stadium - London, United Kingdom', 'match.html') }}
              {{ macros.eventItem('Mar', 17, 2015, 'Champions League', 'AS Monaco v Arsenal Tickets', '7.30 PM - Louis II Stadium - Fontvieille, Monaco', 'match.html') }}
              {{ macros.eventItem('Mar', 9, 2015, 'FA Cup', 'Manchester United v Arsenal Tickets', '7.30 PM - Old Trafford - Manchester, United Kingdom', 'match.html') }}
              {{ macros.eventItem('Mar', 14, 2015, 'FA Cup', 'Arsenal v West Ham United Tickets', '7.30 PM - Emirates Stadium - London, United Kingdom', 'match.html') }}
              {{ macros.eventItem('Mar', 17, 2015, 'Champions League', 'AS Monaco v Arsenal Tickets', '7.30 PM - Louis II Stadium - Fontvieille, Monaco', 'match.html') }}
            </ol>
          </div>
          <!-- endsection_part: most_popular_tickets -->
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">{{ macros.box_latestTransactions() }}</div>
        <div class="col-sm-6">{{ macros.box_latestFootballNews() }}</div>
      </div>
    </div>
    <!-- endsection: homepage_main_column-->
    <!-- section: homepage_sidebar-->
    <div class="col-md-3 sidebar">
      <div class="row">
        <div class="col-sm-4 col-md-12 hidden-xs">{{ macros.box_whyBookWithUs(false, false, true) }}</div>
        <div class="col-sm-4 col-md-12">{{ macros.box_ourDeliveryParteners() }}</div>
        <div class="col-sm-8 visible-sm-block">
          <div id="about" class="box">{{ macros.block_about() }}</div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-12">
          {{ macros.box_sidebarListLinks('English Premiership', 'Clubs', 'club.html', ['Manchester City', 'Chelsea', 'Liverpool', 'Manchester United']) }}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-12">
          {{ macros.box_sidebarListLinks('Italian Seria A', 'Clubs', 'club.html', ['Juventus', 'Inter Milan', 'AC Milan', 'AS Roma']) }}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-12">
          {{ macros.box_sidebarListLinks('Other leagues', 'Leagues', 'league.html', ['Spanish primera division', 'Italian Serie A', 'German Bundesliga', 'French Ligue 1']) }}
        </div>
      </div>
    </div>
    <!-- endsection: homepage_sidebar -->
  </div>
  <!-- section: homepage_bottom -->
  {{ macros.block_introduction() }}
  <!-- endsection: homepage_bottom -->
{% endblock %}

{% block footer_above %}
  {{ macros.newsletter() }}
{% endblock %}
