{% extends 'layouts/default.njk' %}

{% block body_class %}page--league{% endblock %}

{% block content %}
  <!-- section: league_header -->
  <div class="row">
    <div class="col-xs-12 league match">{# @todo this should be somethink like boxtype2, not `match`, `league`, etc. #}
      <div class="box-header match--header">
        <div class="box-header--avatar" style="background-image:url('images/league-generic.png')"></div>
        <div class="box-header--avatar" style="background-image:url('images/league-generic.png')"></div>
        <h2 class="box-header--subtitle">English Premier League</h2>
        <h1 class="box-header--title">Premiership Tickets</h1>
      </div>
    </div>
  </div>
  <!-- endsection: league_header -->
  <!-- section: league_content -->
  <div class="row">
    <!-- sectionpart: league_main -->
    <div class="col-md-9 col-md-push-3">
      <div class="row">
        <div class="col-sm-12">
          <!-- sectionpart: league_about -->
          <div class="box">
            <div class="readmore">
              <p><strong>Premiership tickets.</strong>FC Barcelona is also known as Barça. The club is located in Barcelona (Catalonia), Spain. FC Barcelona has become one of the leading clubs in the world due to their support by Joan Camber who was the Club president. FC Barcelona is one of the world's wealthiest clubs in the world with profits of €291.1 million. Barcelona has been very successful holding up their position in the top division along with Athletic Bilbao and. FC Barcelona is one of the world's wealthiest clubs in the world with profits of €291.1 million. Barcelona has been very successful holding up their position in the top division along with Athletic Bilbao and. FC Barcelona is one of the world's wealthiest clubs in the world with profits of €291.1 million. Barcelona has been very successful holding up their position in the top division along with Athletic Bilbao and. FC Barcelona is one of the world's wealthiest clubs in the world with profits of €291.1 million. Barcelona has been very successful holding up their position in the top division along with Athletic Bilbao and. FC Barcelona is one of the world's wealthiest clubs in the world with profits of €291.1 million. Barcelona has been very successful holding up their position in the top division along with Athletic Bilbao and. FC Barcelona is one of the world's wealthiest clubs in the world with profits of €291.1 million. Barcelona has been very successful holding up their position in the top division along with Athletic Bilbao and</p>
            </div>
          </div>
          <div class="box-header--fb-buttons">
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-mobile-iframe="true"></div>
          </div>
          <!-- endsectionpart: league_about -->
          <!-- sectionpart: league_list_tickets -->
          <div class="box breath-md-top">
            <h2 class="text-primary">English premiership tickets</h2>
            <div class="row team-list">
              {{ macros.teamItem('Liverpool') }}
              {{ macros.teamItem('Arsenal') }}
              {{ macros.teamItem('Manchester') }}
              {{ macros.teamItem('Chelsea') }}
              {{ macros.teamItem('Manchester United') }}
              {{ macros.teamItem('Liverpool') }}
              {{ macros.teamItem('Arsenal') }}
              {{ macros.teamItem('Manchester') }}
              {{ macros.teamItem('Chelsea') }}
              {{ macros.teamItem('Manchester United') }}
            </div>
          </div>
          <!-- endsectionpart: league_list_tickets -->
          <!-- sectionpart: league_upcoming_fixtures -->
          <div class="box breath-md-top">
            <h2 class="text-primary">Upcoming fixtures</h2>
            <ol class="event-list">
              {{ macros.eventItem('Mar', 9, 2015, 'FA Cup', 'Manchester United v Arsenal Tickets', '7.30 PM - Old Trafford - Manchester, United Kingdom', 'match.html') }}
              {{ macros.eventItem('Mar', 14, 2015, 'FA Cup', 'Arsenal v West Ham United Tickets', '7.30 PM - Emirates Stadium - London, United Kingdom', 'match.html') }}
              {{ macros.eventItem('Mar', 17, 2015, 'Champions League', 'AS Monaco v Arsenal Tickets', '7.30 PM - Louis II Stadium - Fontvieille, Monaco', 'match.html') }}
            </ol>
          </div>
          <!-- endsectionpart: league_upcoming_fixtures -->
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 breath-md-top">
          <!-- sectionpart: league_latest_transactions -->
          {{ macros.box_latestTransactions() }}
          <!-- endsectionpart: league_latest_transactions -->
        </div>
      </div>
    </div>
    <!-- endsectionpart: league_main -->
    <!-- sectionpart: league_sidebar -->
    <div class="col-md-3 col-md-pull-9 sidebar hidden-sm hidden-xs">
      <div class="row">
        <div class="col-sm-4 col-md-12 hidden-xs">{{ macros.box_whyBookWithUs(true) }}</div>
        <div class="col-xs-12 col-sm-4 col-md-12">
          <!-- Sidebar box: Club tournament other teams-->
          <div class="box box-secondary">
            <h3 class="text-primary">Other leagues</h3>
            <ul class="box-list box-list--links">
              <li><a href="league.html">Athletic De Bilbao tickets</a></li>
              <li><a href="league.html">Atletico Madrid tickets</a></li>
              <li><a href="league.html">Celta De Vigo tickets</a></li>
              <li><a href="league.html">Cordoba Cf tickets</a></li>
              <li><a href="league.html">Deportivo La Coruna tickets</a></li>
              <li><a href="league.html">Elche Cf tickets</a></li>
              <li><a href="league.html">Espanyol tickets</a></li>
              <li><a href="league.html">Fc Barcelona tickets</a></li>
              <li><a href="league.html">Fc Sevilla tickets</a></li>
              <li><a href="league.html">Getafe tickets</a></li>
              <li><a href="league.html">Granada Cf tickets</a></li>
              <li><a href="league.html">Levante Ud tickets</a></li>
              <li><a href="league.html">Malaga tickets</a></li>
              <li><a href="league.html">Rayo Vallecano tickets</a></li>
              <li><a href="league.html">Real Madrid tickets</a></li>
              <li><a href="league.html">Real Sociedad tickets</a></li>
              <li><a href="league.html">Sd Eibar tickets</a></li>
              <li><a href="league.html">Ud Almeria tickets</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- endsectionpart: league_sidebar -->
  </div>
  <!-- endsection: league_content -->
{% endblock %}

{% block footer_above %}
  {{ macros.newsletter() }}
{% endblock %}
