{% extends 'layouts/default.njk' %}

{% block body_class %}page--match{% endblock %}

{% block content %}
  {{ macros.modal_map() }}
  {{ macros.modal_moreInfo() }}
   <div class="row">
    <!-- section: match-->
    <div class="col-xs-12 match">
      <!-- sectionpart: match_header-->
      <div class="box-header match--header">
        <div class="box-header--avatar" style="background-image:url('images/shirt-temp.png')"></div>
        <div class="box-header--avatar" style="background-image:url('images/shirt-temp.png')"></div>
        <h2 class="box-header--subtitle">Spanish League</h2>
        <h1 class="box-header--title">Atletico Madrid<small>vs</small>FC Barcelona Tickets</h1>
      </div>
      <!-- endsectionpart: match_header-->
      <!-- sectionpart: match_body-->
      <div class="match--body">
        <!-- sectionpart: match_body_details-->
        <div class="row match--details">
          <div class="col-sm-7 info">
            <time class="info-date">Sunday, 17 May 2015 0:00</time>
            <div class="info-place">Estadio Vincente Calderon, Madrid, Spain</div>
            <div class="info-notes">* Exact date and kickoff time are yet to be confirmed.</div>
          </div>
          <div class="col-sm-5 tickets"><strong class="tickets-available">26 Tickets available from</strong><h5 class="tickets-price">£ 66.49</h5>
          <a href="purchase.html" class="btn btn-lg btn-success">View</a>
          </div>
        </div>
        <!-- endsectionpart: match_body_details-->
        <!-- sectionpart: match_body_notes-->
        <div class="row match--notes">
          <div class="col-sm-8">
            <strong>Whose tickets are listed below?</strong>
            <p><em>All the tickets are listed and priced<strong>approved specialist</strong>lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum animi suscipit aperiam cumque obcaecati, eum amet asperiores, illum culpa quo, excepturi soluta nam rerum nemo in! Fugiat iusto voluptate, necessitatibus.</em></p>
          </div>
          <div class="col-sm-4">
            <ul class="list-unstyled">
              <li><i class="icon icon-checkmark"></i> 150% Money-Back Guarantee</li>
              <li><i class="icon icon-checkmark"></i> Real-Time inventory</li>
              <li><i class="icon icon-checkmark"></i> Friendly Customer Service</li>
            </ul>
          </div>
        </div>
        <!-- endsectionpart: match_body_notes-->
      </div>
      <!-- endsectionpart: match_body-->
    </div>
    <!-- endsection: match-->
  </div>
  <div class="row">
    <!-- section: col_tickets-->
    <div id="col-tickets" class="col-md-7">
      <div class="box breath-md-top">
        <h2 class="text-primary">Available tickets</h2>
        <ol id="tickets-list" class="event-list">
          {{ macros.ticketItem('Cat 3 - section 508', 'all seats together', 10, 66.34) }}
          {{ macros.ticketItem('section 105', 'level 500', 10, 46.34) }}
          {{ macros.ticketItem('Cat 2 - shortside', 'main stand', 10, 61.34) }}
          {{ macros.ticketItem('Cat 3 - section 508', 'all seats together all seats together', 10, 66.34) }}
          {{ macros.ticketItem('section 105', 'level 500', 10, 46.34) }}
          {{ macros.ticketItem('Cat 2 - shortside', 'main stand', 10, 61.34) }}
          {{ macros.ticketItem('Cat 3 - section 508', 'all seats together', 10, 66.34) }}
          {{ macros.ticketItem('section 105', 'level 500', 10, 46.34) }}
          {{ macros.ticketItem('Cat 2 - shortside', 'main stand', 10, 61.34) }}
        </ol>
      </div>
    </div>
    <!-- endsection: col_tickets-->
    <!-- section: col_stadium-->
    <div id="col-stadium" class="col-md-5">
      <!-- section_part: stadium_map-->
      <div class="box breath-md-top">
        <h2 class="text-primary">Estadio Vincente Calderon</h2>
        <div class="box-content"><a href="" data-toggle="modal" data-target="#modal-map"><img id="stadium-img" src="images/map-stadium.jpg" class="img-responsive center-block"></a></div>
      </div>
      <!-- section_part: important_details-->
      <div class="box breath-md-top hidden-xs">
        <h3 class="text-primary">Important Details</h3>
        <ul class="box-list box-list--features">
          <li><i class="icon icon-checkmark"></i>Event times are subject to change. Always check with the venue for official times and/or age restrictions.</li>
          <li><i class="icon icon-checkmark"></i>All sales are final. No cancellations</li>
          <li><i class="icon icon-checkmark"></i>The total on the following page includes service fee and local sales taxes</li>
        </ul>
      </div>
    </div>
    <!-- endsection: col_stadium-->
  </div>
  <div class="row">
    <div class="col-sm-4">{{ macros.box_callUs() }}</div>
    <div class="col-sm-4">{{ macros.box_ourDeliveryParteners() }}</div>
    <div class="col-sm-4">{{ macros.box_secureOnlineProcessing() }}</div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-push-6 breath-md-top">
      <!-- Box: Upcoming team fixtures-->
      <div class="box">
        <h2 class="text-primary">Upcoming Barcellona fixtures</h2>
        <ol class="event-list">
          {{ macros.eventItem('Mar', 9, 2015, 'FA Cup', 'Manchester United v Arsenal Tickets', '7.30 PM - Old Trafford - Manchester, United Kingdom', 'match.html') }}
          {{ macros.eventItem('Mar', 14, 2015, 'FA Cup', 'Arsenal v West Ham United Tickets', '7.30 PM - Emirates Stadium - London, United Kingdom', 'match.html') }}
          {{ macros.eventItem('Mar', 17, 2015, 'Champions League', 'AS Monaco v Arsenal Tickets', '7.30 PM - Louis II Stadium - Fontvieille, Monaco', 'match.html') }}
        </ol>
      </div>
    </div>
    <div class="col-md-6 col-md-pull-6">
      <!-- Box: About match-->
      <div class="box breath-md-top">
        <h3 class="text-primary">Atletico Madrid v FC Barcellona Tickets</h3>
        <div class="box-content readmore">
          <p>Feel free to browse the FC Barcelona fixtures. We have FC Barcelona football tickets available for the Spanish La Liga: FC Barcelona vs Real Madrid tickets, FC Barcelona vs Valencia tickets, FC Barcelona vs Atletico Madrid tickets and other Barcelona tickets and La Liga tickets to watch football in Spain. Buy FC Barcelona tickets online through our safe and secure booking system. In addition, we have Arsenal tickets, Manchester United tickets, Liverpool tickets and Chelsea tickets available. All FC Barcelona ticket orders are guaranteed. Champions League Final tickets are selling fast.</p>
          <p>Feel free to browse the FC Barcelona fixtures. We have FC Barcelona football tickets available for the Spanish La Liga: FC Barcelona vs Real Madrid tickets, FC Barcelona vs Valencia tickets, FC Barcelona vs Atletico Madrid tickets and other Barcelona tickets and La Liga tickets to watch football in Spain. Buy FC Barcelona tickets online through our safe.</p>
        </div>
      </div>
      <!-- Box: Latest Transactions-->
      {{ macros.box_latestTransactions() }}
    </div>
  </div>
{% endblock %}

{% block footer_above %}
  {{ macros.newsletter() }}
{% endblock %}
