{% extends 'layouts/default.njk' %}

{% block body_class %}page--purchase{% endblock %}

{% block content %}
  {{ macros.modal_terms() }}
  {{ macros.modal_cvv2() }}
  {{ macros.modal_whyBook() }}
  <div class="row">
    <div class="col-md-8 col-lg-9">
      <div class="row">
        <form class="col-sm-12 form-horizontal form-purchase">
          <div class="box-header match">
            <h2 class="box-header--title">English Premiership: Chelsea v Stoke City Tickets</h2>
            <p>Saturday, 4 April 2015&nbsp;17:30</p>
            <p>Stamford Bridge, London, United Kingdom</p>
          </div>
          <div class="box breath-md-top">
            <h3>Please Review Your Order Details</h3>
            <div class="form-group">
              <label class="col-sm-2 control-label">Your ticket</label>
              <div class="col-sm-7 breath">Section: West Stand Upper Tier Seating, Row: Block 7 - Longside</div>
            </div>
            <div class="form-group">
              <label for="inputCountry" class="col-sm-2 control-label">Purchase</label>
              <div class="col-sm-7">
                <div class="row">
                  <div class="col-xs-3">
                    <select name="" onchange="javascript:setTimeout('__doPostBack('ctl00$cphBody$ucShippingMethod$drpQty','')', 0)" class="form-control">
                      <option selected="selected" value="1">1</option>
                    </select>
                  </div>
                  <div class="col-xs-9 breath-xs">ticket(s)<span> at &pound; 99.75 (&euro; 136.08)</span></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputCountry" class="col-sm-2 required control-label">Shipping option(s)</label>
              <div class="col-sm-7">
                <select name="" required="true" onchange="javascript:setTimeout('__doPostBack('ctl00$cphBody$ucShippingMethod$drpShipping','')', 0)" class="form-control">
                  <option selected="selected" value="-1"></option>&#x9;&#x9;&#x9;&#x9;
                  <option value="1471">Business/Residential Special Mon-Fri (UK ONLY) (&pound; 7.50)</option>&#x9;&#x9;&#x9;&#x9;
                  <option value="1472">Business/Residential Special SATURDAY (UK ONLY) (&pound; 20.00)</option>&#x9;&#x9;&#x9;&#x9;
                  <option value="1473">Hotel Delivery (Match-City) (&pound; 10.00)</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Discount Code</label>
              <div class="col-sm-7">
                <div class="input-group">
                  <input name="" type="text" maxlength="25" class="form-control"><span class="input-group-btn"><a onclick="WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cphBody$ucShippingMethod$lnkSubmitPromotionCode&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))" class="btn btn-md btn-success btn-buy">Apply</a></span>
                  <div class="help-block text-danger"><b></b></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">150% GUARANTEE</label>
              <div class="col-sm-7 breath"><span class="highlight">FREE</span> (<a href="javascript:void(0)" data-toggle="modal" data-target="#modal-why-book" class="text-muted">What is this?</a>)</div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label"><span class="highlight highlight-md">TOTAL</span></label>
              <div class="col-sm-7 breath total">-</div>
            </div>
          </div>
          <div class="box breath-md-top">
            <h3>Provide Billing Address (address where credit card is registered)</h3>
            <div class="clearfix">
              <p class="text-danger pull-right">* required fields</p>
            </div>
            <div id="ctl00_cphBody_ucBillingAddress_pnlFirstName" class="form-group">
              <label for="inputFirstName" class="col-sm-2 required control-label">First Name</label>
              <div class="col-sm-7">
                <input id="inputFirstName" type="text" required="true" placeholder="First Name" maxlength="60" size="20" name="" class="form-control">
              </div>
            </div>
            <div id="ctl00_cphBody_ucBillingAddress_pnlLastName" class="form-group has-error">
              <label for="inputLastName" class="col-sm-2 required control-label">Last Name</label>
              <div class="col-sm-7">
                <input id="inputLastName" type="text" required="true" placeholder="Last Name" maxlength="60" size="20" name="" class="form-control">
                <div class="help-block">This field can't be empty</div>
              </div>
            </div>
            <div id="ctl00_cphBody_ucBillingAddress_txtCompany" class="form-group">
              <label for="inputCompany" class="col-sm-2 control-label">Company</label>
              <div class="col-sm-7">
                <input id="inputCompany" type="text" placeholder="Company" maxlength="100" size="30" name="" class="form-control">
              </div>
              <div class="col-sm-3 help-block">Please enter company name only if this is a corporate credit card</div>
            </div>
            <div id="ctl00_cphBody_ucBillingAddress_pnlAdd1" class="form-group">
              <label for="inputAddress" class="col-sm-2 required control-label">Address</label>
              <div class="col-sm-7">
                <input id="inputAddress" type="text" required="true" placeholder="Address" maxlength="100" size="30" name="" class="form-control">
              </div>
            </div>
            <div id="ctl00_cphBody_ucBillingAddress_txtAddress2" class="form-group">
              <label for="inputAddress2" class="col-sm-2 required control-label">Address 2</label>
              <div class="col-sm-7">
                <input id="inputAddress2" type="text" required="true" placeholder="Address" maxlength="100" size="30" name="" class="form-control">
              </div>
            </div>
            <div id="ctl00_cphBody_ucBillingAddress_pnlTownCity" class="form-group">
              <label for="inputTowncity" class="col-sm-2 required control-label">Town / City</label>
              <div class="col-sm-7">
                <input id="inputTowncity" type="text" required="true" placeholder="Town / City" size="15" name="" class="form-control">
              </div>
            </div>
            <div id="ctl00_cphBody_ucBillingAddress_txtRegion" class="form-group">
              <label for="inputRegionstate" class="col-sm-2 control-label">Region / State</label>
              <div class="col-sm-7">
                <input id="inputRegionstate" type="text" placeholder="Region / State" size="20" name="" class="form-control">
              </div>
            </div>
            <div id="ctl00_cphBody_ucBillingAddress_pnlCountry" class="form-group">
              <label for="inputCountry" class="col-sm-2 required control-label">Country</label>
              <div class="col-sm-7">
                <select id="inputCountry" name="" required="true" class="form-control">
                  <option value="2">Albania</option>
                </select>
              </div>
            </div>
            <div id="ctl00_cphBody_ucBillingAddress_pnlPostalCode" class="form-group">
              <label for="inputPostcode" class="col-sm-2 required control-label">Postcode</label>
              <div class="col-sm-7">
                <input id="inputPostcode" type="text" required="true" placeholder="Postcode" size="20" name="" onchange="javascript:setTimeout('__doPostBack('ctl00$cphBody$ucBillingAddress$txtPostCode','')', 0)" onkeypress="if (WebForm_TextBoxKeyHandler(event) == false) return false;" class="form-control">
              </div>
              <div id="ctl00_cphBody_ucBillingAddress_addressUpdProg" style="display:none;" class="col-sm-3"><img src="images/progress.gif" alt="Progress..."></div>
            </div>
            <div id="ctl00_cphBody_ucBillingAddress_pnlPhone" class="form-group">
              <label for="inputPhone" class="col-sm-2 required control-label">Phone</label>
              <div class="col-sm-7">
                <input id="inputPhone" type="tel" required="true" placeholder="Phone" size="20" name="" class="form-control">
              </div>
              <div id="ctl00_cphBody_ucBillingAddress_requirePhoneNumber" class="col-sm-3 help-block">It is important that you provide both Fixed and Mobile Phone Numbers</div>
            </div>
            <div id="ctl00_cphBody_ucBillingAddress_pnlMobile" class="form-group">
              <label for="inputMobile" class="col-sm-2 required control-label">Mobile</label>
              <div class="col-sm-7">
                <input id="inputMobile" type="tel" required="true" placeholder="Mobile" size="20" name="" class="form-control">
              </div>
            </div>
            <div id="ctl00_cphBody_ucBillingAddress_pnlEmail" class="form-group">
              <label for="inputEmail" class="col-sm-2 required control-label">Email address</label>
              <div class="col-sm-7">
                <input id="inputEmail" type="email" required="true" placeholder="Email Address" size="30" name="" class="form-control">
              </div>
              <div class="col-sm-3 help-block">Please be advised that email domains such as AOL &amp; GMX will block our email confirmation, please use an alternative or contact us if you do not receive an email confirmation.</div>
            </div>
            <div id="ctl00_cphBody_pnlShippingAddress" class="form-group">
              <label for="inputEmail" class="col-sm-2 required control-label">Delivery address is same as billing / provide later:</label>
              <div class="col-sm-7">
                <label class="radio-inline">
                  <input id="ctl00_cphBody_rdbUseBilling" type="radio" required="true" name="ctl00$cphBody$Shipping" value="rdbUseBilling" checked>Yes
                </label>
                <label class="radio-inline">
                  <input id="ctl00_cphBody_rdbUseShipping" type="radio" required="true" name="ctl00$cphBody$Shipping" value="rdbUseShipping" onclick="javascript:setTimeout('__doPostBack('ctl00$cphBody$rdbUseShipping','')', 0)" tabindex="15">No
                </label>
              </div>
            </div>
          </div>
          <div class="box breath-md-top">
            <h3>Provide Credit Card Details</h3>
            <div id="ctl00_cphBody_ucCardDetails_lblCardNumber" class="form-group">
              <label for="inputCardnumber" class="col-sm-2 required control-label">Card number</label>
              <div class="col-sm-7">
                <input id="inputCardnumber" type="text" placeholder="Card number" pattern="[0-9]{10,20}" maxlength="20" name="" class="form-control">
              </div>
              <div class="col-sm-3 help-block"><span id="ctl00_cphBody_ucCardDetails_lblCardTypeOK"></span></div>
            </div>
            <div id="ctl00_cphBody_ucCardDetails_lblExpire" class="form-group">
              <label for="inputExpiration" class="col-sm-2 required control-label">Expiration</label>
              <div class="col-sm-7">
                <div class="row">
                  <div class="col-xs-5">
                    <select id="ctl00_cphBody_ucCardDetails_drpExpireMonth" name="" class="form-control">
                      <option value="00"></option>
                      <option value="01"></option>
                    </select>
                  </div>
                  <div class="col-xs-7">
                    <select id="ctl00_cphBody_ucCardDetails_drpExpireYear" name="" class="form-control">
                      <option value="00"></option>
                      <option value="2015">2015</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div id="ctl00_cphBody_ucCardDetails_lblSecurityCode" class="form-group">
              <label for="inputCVV2" class="col-sm-2 required control-label">CVV2</label>
              <div class="col-sm-7">
                <input id="inputCVV2" type="text" pattern="[0-9]{0,6}" placeholder="Card number" maxlength="6" size="5" name="" class="form-control">
              </div>
              <div class="col-sm-3"><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-cvv2" class="help-block">What is CVV2?</a></div>
            </div>
          </div>
          <div class="box breath-md-top">
            <h3>Anything else to tell us?</h3>
            <p>**Due to Italian Football Regulations, we also require the following details for EACH person attending matches in Italy (Full Name + Dates of Birth + Passport Number) please provide in the space below if this information is available at purchase. Alternatively, you can provide by email at a later time.</p>
            <div class="form-group">
              <div class="col-sm-9">
                <textarea id="ctl00_cphBody_ucNotesAndConfirm_txtNotes" name="" rows="3" cols="60" placeholder="Leave us a Note/Extra Info Needed ..." class="form-control"></textarea>
              </div>
              <div class="col-sm-3 help-block">Leave us a Note/Extra Info Needed</div>
            </div>
          </div>
          <div id="accept-box" class="box breath-md-top">
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked> I have read and agree to the
                    <!-- @pargat-5 regarding the terms and conditions popup: add the data-modal attribute the modal-remote class and put the remote url in the href--><a id="terms" rel="nofollow" href="remote-terms.html" data-modal="#modal-terms" class="terms modal-remote"> Terms and Conditions</a>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" checked> I would like to receive ticket alerts.
                  </label>
                </div>
              </div>
            </div>
            <div class="breath-lg"><a data-toggle="collapse" href="#cancel-order" aria-expanded="false" class="btn btn-lg btn-default">Cancel</a>&nbsp;&nbsp;<a id="ctl00_cphBody_ucNotesAndConfirm_cmdProcessBottom" onclick="progress(true, true);" href="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cphBody$ucNotesAndConfirm$cmdProcessBottom&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, true))" class="btn btn-lg btn-success btn-order">Make payment</a></div>
            <div id="cancel-order" class="alert alert-danger text-center collapse">
              <p class="highlight">Are you sure you want to cancel your order for English Premiership: Chelsea v Stoke City tickets?</p>
              <div class="breath-md"></div><a href="index.html" class="btn btn-lg btn-danger">YES, I would like to cancel my ticket order.</a>
            </div>
          </div>
        </form>
      </div>
      <div class="row breath-md-top"></div>
    </div>
    <div class="col-md-4 col-lg-3 hidden-xs">
      <div class="row">
        <div class="col-xs-12">
          {{ macros.box_whyBookWithUs(true) }}
        </div>
        <div class="col-sm-6 col-md-12">
          {{ macros.box_ourDeliveryParteners() }}
        </div>
        <div class="col-sm-6 col-md-12">
          {{ macros.box_callUs() }}
        </div>
        <div class="col-xs-12">
          {{ macros.box_secureOnlineProcessing() }}
        </div>
      </div>
      <div class="breath-md-top"></div>
    </div>
  </div>
{% endblock %}
