{% block banner %}
  <!-- partial: banner -->
  <div id="header-banner">
    <div id="header-banner-placeholder">
      <div class="stretcher">
        <div class="midpoint">
          <div class="midpoint-inner"><img src="images/ajax-loader.gif" width="32" height="32" class="loader"></div>
        </div>
      </div>
    </div>
    <div id="header-banner-main">
      <img src="images/hp-banner-ok.jpg" alt="">
    </div>
    <div id="header-banner-overlay">
      <div class="midpoint">
        <div class="midpoint-inner">
          <h1 class="banner-overlay-text">Buy tickets to football matches <br>around the world</h1>
          <h2 class="banner-overlay-text">More than 75,000 clients rely on us for their tickets</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- endpartial: banner -->
{% endblock %}
