<!-- partial: footer -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">LiveFootballTickets Blog</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <ul>
          <li><a href="league.html">Premiership Tickets</a></li>
          <li><a href="league.html">FA Cup Tickets</a></li>
          <li><a href="league.html">Carling Cup Tickets</a></li>
          <li><a href="league.html">Champions League Tickets</a></li>
          <li><a href="league.html">Euro 2016 Tickets</a></li>
          <li><a href="league.html">Europa League Tickets</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <ul>
          <li><a href="club.html">Arsenal Tickets</a></li>
          <li><a href="club.html">Manchester United Tickets</a></li>
          <li><a href="club.html">Liverpool Tickets</a></li>
          <li><a href="club.html">Chelsea Tickets</a></li>
          <li><a href="club.html">FA Cup Final Tickets</a></li>
          <li><a href="club.html">Community Shield Tickets</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <ul>
          <li><a href="#">Real Madrid Tickets</a></li>
          <li><a href="#">Barcelona Tickets</a></li>
          <li><a href="#">AC Milan Tickets</a></li>
          <li><a href="#">Champions League Final Tickets</a></li>
          <li><a href="#">England Football Tickets</a></li>
          <li><a href="#">Europa League Final Tickets</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer-lower">
  <p class="text-center">Use of this site is subject to express&nbsp;<a href="content.html">terms of use</a>, which prohibit commercial use of this site.<br>By continuing past this page, you agree to abide by these terms.<br>&copy; 2004 - 2016 Live Football Tickets. All rights reserved.</p>
</div>
<!-- endpartial: footer -->
