<!-- partial: header_navbar -->
<nav id="navbar" class="header-navbar navbar navbar-default navbar-expander">
  <div class="container">
    <button type="button" data-toggle="collapse" data-target="#main-menu" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    <div id="main-menu" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown"><a href="league.html">Football Leagues</a>
          <button data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle"><span class="caret"></span></button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="league.html">About</a></li>
            <li><a href="league.html">Contact</a></li>
            <li><a href="league.html">Contact</a></li>
            <li><a href="league.html">About</a></li>
            <li><a href="league.html">Contact</a></li>
            <li><a href="league.html">Contact</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="league.html">Football Cups</a>
          <button data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle"><span class="caret"></span></button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="content.html">About</a></li>
            <li><a href="content.html">Contact</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="match.html">Other matches</a>
          <button data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle"><span class="caret"></span></button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="match.html">About</a></li>
            <li><a href="match.html">Contact</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="match.html">Stadium tickets</a>
          <button data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle"><span class="caret"></span></button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="content.html">About</a></li>
            <li><a href="content.html">Contact</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- endpartial: header_navbar -->