<!-- partial: header_top -->
<div class="header-top hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="wrap-fb pull-right">
          <ul class="list-inline">
            <li>UK telephone: <span class="text-primary">0207 060 1993</span></li>
            <li><a href="#">faq</a></li>
            <li><a href="#">contact us</a></li>
          </ul>
        </div>
        <ul class="list-inline">
          <li>
            <i class="icon icon-checkmark"></i>Over <b>ten years</b> of experience
          </li>
          <li>
            <i class="icon icon-checkmark"></i><b>Secure</b> online processing
          </li>
          <li class="hidden-sm">
            <i class="icon icon-checkmark"></i>More than <b>35.000</b> tickets sold
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- endpartial: header_top -->