<!-- partial: header -->
<div class="header">
  {% include 'layouts/partials/header-top.njk' %}
  <div class="header-middle header-to-stick">
    {% include 'layouts/partials/header-main.njk' %}
    {% include 'layouts/partials/header-navbar.njk' %}
  </div>
  {% include 'layouts/partials/header-info.njk' %}
  {% include 'layouts/partials/banner.njk' %}
</div>
<!-- endpartial: header -->