<!-- partial: header_info -->
<div class="header-info">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right">
          <div class="wrap wrap-verified"><img src="images/verified.png" alt="Verified by VISA, MasterCard SecureCode, McAfee Secure" width="135" class="img-responsive"></div>
          <div class="wrap wrap-mcafee"><a href="#"><img src="images/mcafee-secure.png" alt="McAfee Secure" class="img-responsive"></a></div>
        </div>
        <ul class="list-inline list-contacts visible-xs">
          <li>UK telephone: <a href="tel:02070601993">0207 060 1993</a></li>
          <li><a href="#">faq</a></li>
          <li><a href="#">contact us</a></li>
        </ul>
        {# {{ macros.breadcrumbs() }} #}
      </div>
    </div>
  </div>
</div>
<!-- endpartial: header_info -->