<!-- See http://getbootstrap.com/getting-started/#support -->
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<!--[if lt IE 9]>
<script src="scripts/respond.matchmedia.addListener.min.js"></script>
{# @link(https://github.com/scottjehl/Respond/blob/master/README.md#support--caveats) #}
{# Respond.js proxy on. external server
<link href="http://externalcdn.com/respond-proxy.html" id="respond-proxy" rel="respond-proxy"/> #}
{# Respond.js redirect location on local server #}
<link href="respond.proxy.gif" id="respond-redirect" rel="respond-redirect"/>
{# Respond.js proxy script on local server #}
<script src="respond.proxy.js"></script>
<![endif]-->
<style>@-webkit-viewport{width:device-width;}@-moz-viewport{width:device-width;}@-ms-viewport{width:device-width;}@-o-viewport{width:device-width;}@viewport{width:device-width;}</style>
<script>if(navigator.userAgent.match(/IEMobile\/10\.0/)){var msViewportStyle=document.createElement('style');msViewportStyle.appendChild(document.createTextNode('@-ms-viewport{width:auto!important}'));document.querySelector('head').appendChild(msViewportStyle);}</script>