<!-- partial: notifications -->
<div data-notify="container" class="col-xs-11 col-sm-4 alert alert-info animated zoomInDown zoomOutUp" role="alert" data-notify-position="bottom-right" style="display: inline-block; margin: 0px auto; position: fixed; transition: all 0.5s ease-in-out; z-index: 1031; bottom: 20px; right: 20px; animation-iteration-count: 1;">
  <button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>
  <span data-notify="icon"></span> <span data-notify="title"></span> <span data-notify="message">18 more people are currently searching for tickets for this match</span>
  <a href="#" target="_blank" data-notify="url"></a>
</div>
<!-- endpartial: notifications -->
